<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladwa.aditya.twitone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TwitoneApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".mainscreen.MainScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interactions.Interactions"
            android:label="@string/title_activity_interactions"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".message.Message"
            android:label="@string/title_activity_message"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".trends.Trends"
            android:label="@string/title_activity_trends"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".imageviewer.ImageViewer"
            android:label="@string/title_activity_image_viewer"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".tweet.Tweet"
            android:label="@string/title_activity_tweet"
            android:parentActivityName=".mainscreen.MainScreen"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".tweetdetail.TweetDetail"
            android:label="@string/title_activity_tweet_detail"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
        <activity
            android:name=".messagecompose.MessageCompose"
            android:label="@string/title_activity_message_compose"
            android:parentActivityName=".message.Message">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.message.Message" />
        </activity>

        <!-- Recievers -->
        <receiver
            android:name=".util.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.WidgetCollectionProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_collection" />
        </receiver>
        <!-- Services -->

        <service android:name=".data.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
        <service
            android:name=".data.sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync" />
        </service>
        <service
            android:name=".widget.WidgetCollectionService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <!-- Content Provider -->
        <provider
            android:name=".data.local.TwitoneProvider"
            android:authorities="com.ladwa.aditya.twitone"
            android:exported="false"
            android:syncable="true" />

        <!-- Meta Data -->
        <meta-data
            android:name="com.ladwa.aditya.twitone.util.GlideConfiguration"
            android:value="GlideModule" />

        <!--
     Optionally, register AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".mainscreen.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladwa.aditya.twitone.mainscreen.MainScreen" />
        </activity>
    </application>

</manifest>